<h3 style="color: rgb(84, 85, 92);">{{doc.title}}</h3><br><br>
<div class="row">
            <div class="input-field">
                
                <textarea id="body" name="body">{{doc.body}}</textarea>
            </div>
</div>

<a href="/" class="btn">Go to Dashboard</a>

 